*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body {
  background-color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.home-container {
  height: 100vh;
}

/* #home {
  max-width: 2200px;
} */

img:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  transition: all 0.2s ease-out;
  z-index: 4;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
  padding: 0 70px;
}

.main-intro {
  scroll-snap-align: start;
}

#about {
  scroll-snap-align: start;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  text-decoration: none;
  white-space: nowrap;
}

.img-logo {
  display: flex;
  align-items: center;
  margin-top: 25px;
  height: 130px;
  width: 130px;
}

.main-header-name {
  font-weight: 500;
  font-size: 1.8799rem;
  color: #b09e99;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

/*Navigation bar ------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  align-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #b09e99;
  padding-right: 5rem;
  display: flex;
  align-items: flex-start;
}

.nav-links a:hover {
  color: #8fc6c3;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  left: 0;
  padding: 0 10%;
  z-index: 1000;
}

.burger {
  display: none;
  float: right;
  align-self: center;
  cursor: pointer;
}

.burger div {
  width: 1.5rem;
  height: 0.18rem;
  background-color: #b09e99;

  margin: 0.32rem;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media (max-width: 1550px) {
  .nav-links a {
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1275px) {
  .main-header {
    height: 100px;
  }

  .main-header-name {
    font-size: 1.3rem;
  }

  .nav-links {
    font-size: 1.3rem;
  }

  .nav-links a {
    padding-right: 3rem;
  }

  .burger {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }
  .main-header-name {
    font-size: 1.5rem;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 200px;
    top: 90px;
    background: rgba(0, 0, 0, 0.8);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1.2rem;
    width: 200px;
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -o-transform: translate(100%);
    transform: translate(100%);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.3s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    padding-right: 3rem;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1275px) {
  .main-header-name {
    font-size: 1.3rem;
  }
  .nav-links {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 640px) {
  .main-header {
    height: 100px;
    height: 75px;
  }

  .main-header-name {
    font-size: 1rem;
  }

  .nav-links {
    height: 200px;
    top: 50px;
    width: 120px;
    font-size: 1rem;
  }

  .nav-links a {
    padding-right: 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

.button {
  color: #ffff;
  background-color: #8fc6c3;
  border-radius: 0.9rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  padding: 0.5em 1.75em;
}

.button:hover {
  background-color: #78a7a4;
}

/*Introduction text-----------*/

.main-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.intro-box {
  padding: 40vh 0 0 20vh;
}

.intro-text {
  color: #666666;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.intro-name {
  color: #8fc6c3;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .intro-box {
    padding: 40vh 0 0 10vh;
  }
}

@media (max-width: 1050px) {
  .intro-name {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 2rem;
  }
}

@media (max-width: 815px) {
  .intro-box {
    padding: 40vh 0 0 10vh;
  }
}

@media (max-width: 700px) {
  .intro-box {
    padding: 40vh 0 0 5vh;
  }

  .intro-name {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .img-logo {
    display: none;
  }

  .main-header-name {
    display: flex;
    align-items: center;
    margin-top: 1px;
    height: 130px;
    width: 130px;
  }

  .intro-box {
    padding: 40vh 0 0 5vh;
  }

  .intro-name {
    font-size: 1.2rem;
  }

  .intro-text {
    font-size: 1.2rem;
  }
}

/*scroll arrow --------------*/

/* #section05 {
  position: relative;
  width: 100%;
  height: 100%;
} */

/* section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
} */

.demo a {
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #b09e99;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.7;
  color: #8fc6c3;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .demo a {
    font-size: 1rem;
  }
}

@media (max-width: 340px) {
  .demo a {
    font-size: 0.5rem;
  }
}

/*about section-------------*/

#about {
  min-height: 100vh;
  padding-top: 5%;
  display: flex;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-me .about-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me .me-image {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
}

.about-me .me-image img {
  width: auto;
  height: 100%;
  margin-left: -45px;
}

.about-me .about-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 1rem;
  padding-left: 10%;
  align-self: center;
  color: #ffffff;
}

.about-box .about-title h1 {
  color: #8fc6c3;
  font-size: 3rem;
  font-weight: 400;
}

.about-text {
  font-weight: 400;
  font-size: 1.125rem;
  color: #666666;
  margin-top: -1em;
}

.resume {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (max-width: 1300px) {
  #about {
    padding-top: 120px;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
  }

  .about-me .me-image {
    width: 375px;
    height: 375px;
  }

  .about-me .me-image img {
    text-align: center;
    margin-left: -20px;
  }

  .about-me .about-box {
    align-self: center;
    align-items: center;
    width: 70%;
    margin: 1rem;
    padding-left: 0%;
  }

  .about-box .about-title h1 {
    text-align: left;
    font-size: 3rem;
    width: auto;
  }

  .about-text {
    font-size: 1rem;
  }

  .resume {
    text-align: center;
  }
}

@media (max-width: 800px) {
  #about {
    padding-top: 100px;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 100px;
    width: 100%;
  }

  .about-me .me-image {
    width: 325px;
    height: 325px;
  }

  .about-me .me-image img {
    margin-left: -20px;
  }

  .about-me .about-box {
    align-self: center;
    align-items: center;
    width: 100%;
    padding-left: 0%;
  }

  .about-box .about-title h1 {
    text-align: left;
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .resume {
    text-align: center;
  }
}

@media (max-width: 640px) {
  #about {
    padding-top: 75px;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .about-me .me-image {
    width: 250px;
    height: 250px;
  }

  .about-me .me-image img {
    margin-left: -20px;
  }

  .about-me .about-box {
    align-self: center;
    align-items: center;
    width: 80%;
    padding-left: 0%;
  }

  .about-box .about-title h1 {
    text-align: left;
    font-size: 1.5rem;
  }

  .about-text {
    text-align: left;
    font-size: 0.7rem;
    width: 100%;
  }

  .resume {
    text-align: center;
  }
}

/*Projects ------------------*/

#projects {
  min-height: 100vh;
  padding-top: 100px;
}

main {
  width: 80%;
  margin: auto;
}

#project-main-title {
  font-size: 3rem;
  font-weight: 400;
  color: #8fc6c3;
  text-align: center;
}

article {
  margin-top: 6rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-image {
  align-self: stretch;
  width: 500px;
  height: 300px;
  display: flex;
  border: 1px solid grey;
}

img.p-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-data {
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
  justify-content: space-evenly;
}

.project-data * {
  margin: 0;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  color: #b09e99;
}

.project-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}

@media (max-width: 1400px) {
  main {
    width: 100%;
  }

  article {
    justify-content: space-between;
  }
}

@media (max-width: 1300px) {
  #projects {
    padding-top: 120px;
  }

  #project-main-title {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {
  #projects {
    padding-top: 70px;
  }

  article {
    flex-direction: column;
    justify-content: space-between;
  }

  .project-image {
    width: 500px;
    height: 300px;
    /* width: 80%; */
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
  }

  .project-data {
    align-self: auto;
    max-width: 80%;
  }

  img:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.2s ease-out;
    z-index: 4;
  }
}

@media (max-width: 640px) {
  #projects {
    min-height: 100vh;
    padding-top: 50px;
  }

  article {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: start;
    align-items: center;
  }

  #project-main-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-image {
    width: 80%;
    height: 100%;
  }

  img.p-image {
    object-fit: contain;
  }

  .project-desc {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }

  .source-code {
    font-size: 0.7rem;
  }

  img:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.2s ease-out;
    z-index: 4;
  }
}

/* Contacts ---------------*/

#contacts {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #8fc6c3;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.contact-links > * {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #b09e99;
}

@media (max-width: 850px) {
  .contact-links {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .contact-links {
    width: 100%;
    height: 100%;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-links > * {
    font-size: 1rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
